/* =======================
        VARIABLES
======================== */
:root {
    --light-pink: #f7d4ec;
    --magenta: #ae0d7a;
    --tealish: #448d76;
    --yellow: #fdd96b;
    --brown: #592e2d;
    --light-blue: #caddeb;

}

body {
   /* background-image: url('https://i.imgur.com/9mjA7f9.jpg');*/
    background-image: url('https://i.imgur.com/DNfdTF7.jpg');
    margin: 0;
    background-size: cover;
    background-position: center;
    height: 80%;
    background-width: 100%;
    background-repeat: no-repeat;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;

    
   
}

button{
    border: none;
    margin: 2px;
    border-radius: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: pink;

}

img{
    width: 300px;
    height: 50%;
    border: 5px solid white;
}
#root{
    /*background-image: url('https://i.imgur.com/ckrCYLL.jpg');
    background-size: cover;
    background-position: center;
    height: 2000px;
    width: 100%;*/

}




/* ======================
        HEADER
 =======================*/
header {
    border: 2px solid lightblue;
    background: rgb(255,138,61);
    background-position: center;
    background-image: url('https://i.imgur.com/Zbfck2s.png');
    padding-bottom: 10px;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    position: relative;
}

.header{
    background:rgba(170,220,255,.3);
}

header > h1 {
    text-align: center;
    font-size: 2.5em;
    color: white;
   
}
header > h4 {
    margin-top: -15px;
    text-align: center;
    font-size: 1.8em;
    color: white;
}

ul {
    position: center;
    top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

li {

    display: inline;
    padding: 0.5em;
    background-color: lightblue;
    color: yellow;
    font-weight: 30px;
}

li:hover {
    background-color: pink;
    cursor: pointer;
}

 /*======================
        ENTRY FORM
 =======================*/
fieldset {
    border: 2px solid var(--brown);
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    color: var(--brown);
    background: white;
}
label {
    padding: 0.5em;
}

input {
    font-size: 1em;
}

input[type="submit"] {
    padding: 0.25em;
    margin: 1em;
    border: 2px solid black;
    color: black;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--light-pink);
    border: 2px solid var(--brown);
}
/* ======================
        ALL ENTRIES
 =======================*/
.all-entries {
    background: rgba(255, 245, 240,.6);
    margin: 5em;
    
    padding-bottom: 75px;
    text-align: center;
    border: 1px grey;


}

.postTitle{
    border: 1px solid white;
    padding: 10px;
    margin: 50px;
    margin-bottom: 0;
}



/* ======================
            ENTRY
 =======================*/
.entry {
   /* border: 2px solid var(--yellow);*/
   padding-bottom: 50px;
   padding-top: 10px;
}
.form{
    background: pink;
   

}



/* mobile responsive*/


@media only screen and (max-width: 515px) {
  body {
    
  }

  img{
    width: 150px;
  }
  all-entries {
    background: rgba(255, 255, 250,.4);
    margin: 2em;
    padding: 55px;
    padding-bottom: 75px;
    text-align: center;
    border: 1px grey;
}

header {
    border: 2px solid lightblue;
    background: rgb(255,138,61);
    background-position: center;
    background-image: url('https://i.imgur.com/Zbfck2sm.png');
    padding-bottom: 10px;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    position: relative;
}
}
